body{
    margin: 0%;
    background-color: #3e3e49;
}
header{
    height: 70px;
    background-color: #32323a;
}
.headerint{
    width: 1000px;
    margin: auto;
    background-color: #43444e;

}
.logo{
    width: 20%;
    height: 80px;
    float: left;
}
.logotipo{
    height: 80px;
}
.menu{
    width: 80%;
    height: 60px;
    float: right;
}
.menu ul,
.menu li{
    margin: 0;
    padding: 0;
    list-style: none;

}
.menuint li{
    float: right;
    line-height: 65px;
    padding-left:10px;
    padding-right: 10px;
    font-size: 15px;
    margin: 0;
    cursor: pointer;
}
.menuint li:hover{
    
    font-size: 14px;
    border-bottom: 2px solid #089cff;
    transition: 0.5s;
}
.menuint li a{
    text-decoration: none;
    color: #f2f2f2;
}
.formuExt{
    width: 800px;
    height: 900px;
    margin: auto;
    margin-top: 75px;
    background-color: #8d62b978;
    border-radius: 20px;
}
form{
    color: #f2f2f2;
    padding-top: 40px;
    padding-left:  100px;
}
#iEnviar{
    width: 200px;
    height: 40px;
    margin-left: 30%;
    margin-top: 20px;
    border-radius: 10px;
    color: #425B8C;
    font-size: 20px;
}
#iEnviar:hover{
    transition: 0.5s;
    background-color: #010326;
    color: #f2f2f2;
    border-color: #f2f2f2;
    cursor: pointer;
}
footer{
    margin: 0;
    padding: 0;
}
.footerint{
    width: 1000px;
    margin: auto;
    background: linear-gradient(89deg,#424242 0%, #2c2c2c 80%);
    height: 200px;
    margin-top: 40px;
}
.footeresquerda{
    float: left;
}
.ftitulo{
    padding-top: 20px;
    color: #f2f2f2;
    margin-top: 63px;
    margin-left: 20px;
    font-family: montserrat;
    font-size: 17px;
}
.fsub{
    margin-left: 20px;
    font-family: montserrat;
    color: #f2f2f2;
    font-size: 15px;
}
.footerdireita{
    float: right;
    margin-top: 22px;
    font-size: 18px;
}
.footerdireita li{
    text-decoration: none;
    list-style: none;
    margin-right: 465px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 20px;
}
.footerdireita a{
    text-decoration: none;
    color: #f2f2f2;
    font-size: 12px;
    padding-top: 20px;
    font-family: montserrat;
}
.textofooter{
    color: #f2f2f2;
    float: right;
    margin-right: 30px;
    background: linear-gradient(90deg, #ffffff00, #7056c3);
    border-radius: 6px;
}